.main{
    display: flex;
    width: 100%;
    justify-content: center;
}
.register_form{
    display: flex;
    flex-direction: column;    
}
.TextField{
    width: 20rem;
    margin-bottom: 200px;
}
.Button{
    width: 20rem;
}